@model IEnumerable<APTA.Models.Organization>

@{
    ViewBag.Title = "Organizations";
}

<h2>List of Organizations</h2>

<p>
    @Html.ActionLink("Create New Organization", "CreateOrganization", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationEmail)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditOrganization", new { id = item.OrganizationId }) |
                @Html.ActionLink("Details", "DetailsOrganization", new { id = item.OrganizationId }) |
                @Html.ActionLink("Delete", "DeleteOrganization", new { id = item.OrganizationId })
            </td>
        </tr>
    }
</table>
